<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Busqueda de RAC</h5>
            <form class="">
                <div class="position-relative form-group"><label for="exampleSelect" class="">Distrito</label><select name="servidor" id="servidor" class="form-control">
                    
                </select></div>
                <div class="position-relative form-group"><label for="racg" class=""></label><input name="racg" id="racg" placeholder="RAC Generado" type="text" class="form-control"></div>
            </form>
            <button class="mt-1 btn btn-primary" id="botonBuscar">Buscar</button>
        </div>

    </div>
</div>

<!--Tabla de Información NUC-->
<div class="col-lg-12" id="cardTablaRacs">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Resultados de Busqueda</h5>
            <table  id="tablaRacs"  class="mb-0 table table-hover">
                <thead>
                <tr>
                    <th># RAC</th>
                    <th># NUC</th> 
                    <th>Agencia</th>                 
                    <th>Atendido Por</th>
                    <th>Puesto</th>
                    <th>Fecha Reporte</th>
                    
                    
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>